<a href="https://colab.research.google.com/github/Je0azul5/AngularDeveloment/blob/master/Wind_Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wind Statistics

### Introduction:

The data has been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


### 1. The data in 'wind.data' has the following format:

In [ ]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset wind.data

In [ ]:
data=pd.read_csv("wind.data", sep='\s+')
data

      Yr  Mo  Dy    RPT    VAL    ROS  ...    DUB    CLA    MUL    CLO    BEL    MAL
0     61   1   1  15.04  14.96  13.17  ...  13.67  10.25  10.83  12.58  18.50  15.04
1     61   1   2  14.71    NaN  10.83  ...  11.50  10.04   9.79   9.67  17.54  13.83
2     61   1   3  18.50  16.88  12.33  ...  11.25    NaN   8.50   7.67  12.75  12.71
3     61   1   4  10.58   6.63  11.75  ...   8.63   1.79   5.83   5.88   5.46  10.88
4     61   1   5  13.33  13.25  11.42  ...  11.92   6.54  10.92  10.34  12.92  11.83
...   ..  ..  ..    ...    ...    ...  ...    ...    ...    ...    ...    ...    ...
6569  78  12  27  17.58  16.96  17.62  ...  14.46  15.59  14.04  14.00  17.21  40.08
6570  78  12  28  13.21   5.46  13.46  ...  14.33  16.25  15.25  18.05  21.79  41.46
6571  78  12  29  14.00  10.29  14.42  ...  19.17  12.46  14.50  16.42  18.88  29.58
6572  78  12  30  18.50  14.04  21.29  ...  18.08  12.87  12.46  12.12  14.67  28.79
6573  78  12  31  20.33  17.41  27.29  ...  19.25  11.63  11.58  11.38  12.08  22.08

[6574 rows x 15 columns]

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [ ]:
data=pd.read_csv("wind.data", sep='\s+')
data = data.rename(columns={'Yr':'year','Mo':'month','Dy':'day'})
data['year']=data['year']+1900
data['year']=pd.to_datetime(data.iloc[:,0:3])

del data['month']
del data['day']

data = data.rename(columns={'year':'Datetime'})
print(data)

       Datetime    RPT    VAL    ROS    KIL  ...    CLA    MUL    CLO    BEL    MAL
0    1961-01-01  15.04  14.96  13.17   9.29  ...  10.25  10.83  12.58  18.50  15.04
1    1961-01-02  14.71    NaN  10.83   6.50  ...  10.04   9.79   9.67  17.54  13.83
2    1961-01-03  18.50  16.88  12.33  10.13  ...    NaN   8.50   7.67  12.75  12.71
3    1961-01-04  10.58   6.63  11.75   4.58  ...   1.79   5.83   5.88   5.46  10.88
4    1961-01-05  13.33  13.25  11.42   6.17  ...   6.54  10.92  10.34  12.92  11.83
...         ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
6569 1978-12-27  17.58  16.96  17.62   8.08  ...  15.59  14.04  14.00  17.21  40.08
6570 1978-12-28  13.21   5.46  13.46   5.00  ...  16.25  15.25  18.05  21.79  41.46
6571 1978-12-29  14.00  10.29  14.42   8.71  ...  12.46  14.50  16.42  18.88  29.58
6572 1978-12-30  18.50  14.04  21.29   9.13  ...  12.87  12.46  12.12  14.67  28.79
6573 1978-12-31  20.33  17.41  27.29   9.59  ...  11.63  11.58  11.38  12.08  22.08

[6574 rows x 13 columns]

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [ ]:
"""
Este paso no es necesario por que se han sumado los años de manera adecuada
por esta razón no es necesaria
"""

'\nEste paso no es necesario por que se han sumado los años de manera adecuada\npor esta razón no es necesaria\n'

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [ ]:
data = data.set_index(['Datetime'])
print(data)

              RPT    VAL    ROS    KIL  ...    MUL    CLO    BEL    MAL
Datetime                                ...
1961-01-01  15.04  14.96  13.17   9.29  ...  10.83  12.58  18.50  15.04
1961-01-02  14.71    NaN  10.83   6.50  ...   9.79   9.67  17.54  13.83
1961-01-03  18.50  16.88  12.33  10.13  ...   8.50   7.67  12.75  12.71
1961-01-04  10.58   6.63  11.75   4.58  ...   5.83   5.88   5.46  10.88
1961-01-05  13.33  13.25  11.42   6.17  ...  10.92  10.34  12.92  11.83
...           ...    ...    ...    ...  ...    ...    ...    ...    ...
1978-12-27  17.58  16.96  17.62   8.08  ...  14.04  14.00  17.21  40.08
1978-12-28  13.21   5.46  13.46   5.00  ...  15.25  18.05  21.79  41.46
1978-12-29  14.00  10.29  14.42   8.71  ...  14.50  16.42  18.88  29.58
1978-12-30  18.50  14.04  21.29   9.13  ...  12.46  12.12  14.67  28.79
1978-12-31  20.33  17.41  27.29   9.59  ...  11.58  11.38  12.08  22.08

[6574 rows x 12 columns]

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [ ]:
sum(data.isnull().values.ravel())

31

### Step 7. Compute how many non-missing values there are in total.

In [ ]:
sum(data.notnull().values.ravel())

78857

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [ ]:
ax = data.mean(axis = 0, skipna = True) 
ax.mean()

10.227982360836924

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [ ]:
data.describe()

               RPT          VAL  ...          BEL          MAL
count  6568.000000  6571.000000  ...  6574.000000  6570.000000
mean     12.362987    10.644314  ...    13.121007    15.599079
std       5.618413     5.267356  ...     5.835037     6.699794
min       0.670000     0.210000  ...     0.130000     0.670000
25%       8.120000     6.670000  ...     8.710000    10.710000
50%      11.710000    10.170000  ...    12.500000    15.000000
75%      15.920000    14.040000  ...    16.880000    19.830000
max      35.800000    33.370000  ...    42.380000    42.540000

[8 rows x 12 columns]

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [ ]:
dc=data.T
dc.describe()

Datetime  1961-01-01  1961-01-02  ...  1978-12-30  1978-12-31
count      11.000000   11.000000  ...   12.000000   12.000000
mean       13.018182   11.336364  ...   15.367500   15.402500
std         2.808875    3.188994  ...    5.540437    5.702483
min         9.290000    6.500000  ...    9.130000    9.590000
25%        10.540000    9.730000  ...   12.375000   11.530000
50%        13.170000   10.830000  ...   13.455000   12.080000
75%        15.000000   13.225000  ...   18.185000   19.520000
max        18.500000   17.540000  ...   28.790000   27.290000

[8 rows x 6574 columns]

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [ ]:
data.loc[(data.index.month==1)].mean()

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [ ]:
ydata = data.resample('Y').mean() 
ydata

                  RPT        VAL        ROS  ...        CLO        BEL        MAL
Datetime                                     ...
1961-12-31  12.299583  10.351796  11.362369  ...   9.835577  13.502795  13.680773
1962-12-31  12.246923  10.110438  11.732712  ...   9.676247  12.930685  14.323956
1963-12-31  12.813452  10.836986  12.541151  ...  10.224438  13.638877  14.999014
1964-12-31  12.363661  10.920164  12.104372  ...  10.207951  13.740546  14.910301
1965-12-31  12.451370  11.075534  11.848767  ...   9.918082  12.964247  15.591644
1966-12-31  13.461973  11.557205  12.020630  ...   9.768959  14.265836  16.307260
1967-12-31  12.737151  10.990986  11.739397  ...   9.547425  14.774548  17.135945
1968-12-31  11.835628  10.468197  11.409754  ...   7.832978  12.808634  15.017486
1969-12-31  11.166356   9.723699  10.902000  ...   7.754384  12.621233  15.762904
1970-12-31  12.600329  10.726932  11.730247  ...   8.289808  13.183644  16.456027
1971-12-31  11.273123   9.095178  11.088329  ...   7.229753  12.208932  15.025233
1972-12-31  12.463962  10.561311  12.058333  ...   7.515273  12.727377  15.028716
1973-12-31  11.828466  10.680493  10.680493  ...   7.812411  12.169699  15.441096
1974-12-31  13.643096  11.811781  12.336356  ...   8.736356  13.252959  16.947671
1975-12-31  12.008575  10.293836  11.564712  ...   7.382822  12.631671  15.307863
1976-12-31  11.737842  10.203115  10.761230  ...   7.883087  12.332377  15.471448
1977-12-31  13.099616  11.144493  12.627836  ...   8.821616  13.459068  16.590849
1978-12-31  12.504356  11.044274  11.380000  ...   8.301699  12.967397  16.771370

[18 rows x 12 columns]

### Step 13. Downsample the record to a monthly frequency for each location.

In [ ]:
mdata = data.resample('M').mean() 
mdata

                  RPT        VAL        ROS  ...        CLO        BEL        MAL
Datetime                                     ...
1961-01-31  14.841333  11.988333  13.431613  ...  10.107419  13.880968  14.703226
1961-02-28  16.269286  14.975357  14.441481  ...  12.714286  18.583214  15.411786
1961-03-31  10.890000  11.296452  10.752903  ...  11.251935  16.410968  15.720000
1961-04-30  10.722667   9.427667   9.998000  ...   7.237000  11.147333  10.278333
1961-05-31   9.860968   8.850000  10.818065  ...   8.499355  11.900323  12.011613
...               ...        ...        ...  ...        ...        ...        ...
1978-08-31   9.645161   8.259355   9.032258  ...   5.536774  10.466774  12.054194
1978-09-30  10.913667  10.895000  10.635000  ...   8.939000  15.680333  19.391333
1978-10-31   9.897742   8.670968   9.295806  ...   8.243871  13.776774  17.150000
1978-11-30  16.151667  14.802667  13.508000  ...  10.676000  17.404667  20.723000
1978-12-31  16.175484  13.748065  15.635161  ...  11.028710  13.859677  21.371613

[216 rows x 12 columns]

### Step 14. Downsample the record to a weekly frequency for each location.

In [ ]:
wdata = data.resample('W').mean() 
wdata

                  RPT        VAL        ROS  ...        CLO        BEL        MAL
Datetime                                     ...
1961-01-01  15.040000  14.960000  13.170000  ...  12.580000  18.500000  15.040000
1961-01-08  13.541429  11.486667  10.487143  ...   8.497143  12.481429  13.238571
1961-01-15  12.468571   8.967143  11.958571  ...   7.571429  11.125714  11.024286
1961-01-22  13.204286   9.862857  12.982857  ...   8.124286   9.821429  11.434286
1961-01-29  19.880000  16.141429  18.225714  ...  15.640000  20.930000  22.530000
...               ...        ...        ...  ...        ...        ...        ...
1978-12-03  14.934286  11.232857  13.941429  ...   9.547143  11.835714  18.728571
1978-12-10  20.740000  19.190000  17.034286  ...  14.082857  18.517143  23.061429
1978-12-17  16.758571  14.692857  14.987143  ...   8.565714  11.102857  15.562857
1978-12-24  11.155714   8.008571  13.172857  ...   8.072857  11.845714  18.977143
1978-12-31  14.951429  11.801429  16.035714  ...  11.471429  12.947143  26.844286

[940 rows x 12 columns]

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [ ]:
print(data[1:])
wdata = data[1:].resample('W').mean() 
wdata.head(52).T.describe()

              RPT    VAL    ROS    KIL  ...    MUL    CLO    BEL    MAL
Datetime                                ...
1961-01-02  14.71    NaN  10.83   6.50  ...   9.79   9.67  17.54  13.83
1961-01-03  18.50  16.88  12.33  10.13  ...   8.50   7.67  12.75  12.71
1961-01-04  10.58   6.63  11.75   4.58  ...   5.83   5.88   5.46  10.88
1961-01-05  13.33  13.25  11.42   6.17  ...  10.92  10.34  12.92  11.83
1961-01-06  13.21   8.12   9.96   6.67  ...   7.17   7.50   8.12  13.17
...           ...    ...    ...    ...  ...    ...    ...    ...    ...
1978-12-27  17.58  16.96  17.62   8.08  ...  14.04  14.00  17.21  40.08
1978-12-28  13.21   5.46  13.46   5.00  ...  15.25  18.05  21.79  41.46
1978-12-29  14.00  10.29  14.42   8.71  ...  14.50  16.42  18.88  29.58
1978-12-30  18.50  14.04  21.29   9.13  ...  12.46  12.12  14.67  28.79
1978-12-31  20.33  17.41  27.29   9.59  ...  11.58  11.38  12.08  22.08

[6573 rows x 12 columns]

Datetime  1961-01-08  1961-01-15  ...  1961-12-24  1961-12-31
count      12.000000   12.000000  ...   12.000000   12.000000
mean        9.847659    8.353214  ...    9.315714    9.562381
std         2.601705    2.719649  ...    3.174787    3.288602
min         6.417143    4.630000  ...    5.517143    5.372857
25%         7.979881    6.543214  ...    7.066429    6.825714
50%         9.980714    7.553571  ...    8.117857    8.808571
75%        11.735357   11.049643  ...   11.939286   12.129643
max        13.541429   12.468571  ...   15.757143   15.804286

[8 rows x 52 columns]